<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			Bookmarks | Edit
		</title>
	</head>
	<style>

		{% include "style.html" %}
		.bm_style {
			text-align: left;
		}

		.btn_small {
			height: 30px;
			padding-top: 1.5px;
			margin-top: 1px;
		}

	</style>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
			<div class="container-fluid">
				<div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
					<a class="navbar-brand">Bookmarks</a>
				</div>
				<div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li><a href="/">Home: {{ user }}</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/b/add_ten_random_bookmarks/">Add ten bookmarks</a></li>
							<li><a href="/b/add_five_random_categories/">Add five categories</a></li>
							<li class="active"><a href="/b/edit">Edit</a></li>
							<li><a href="/b/trash">Trash</a></li>
							<li><a href="/b/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		
		{% include "pills.html" %}

		{% include "edit2_category_edit_form.html" %}

		{% include "edit2_bookmark_edit_form.html" %}

		{% include "edit2_content.html" %}

	</body>
	<script>

	{% include "jQuery.html" %}
	$("#hidden_field").hide();
	$(".form_add_bookmark").hide();
	$(".bookmark_big_edit_form").hide();
	$(".category_big_edit_form").hide();

	$(".show_form_add_bookmark").click( function(){
		$(".form_add_bookmark").hide();
		$(".show_form_add_bookmark").show();
		var $parent = $(this).parent();
		$(".form_add_bookmark", $parent).show();
		$(this).hide();
	});

	$(".hide_big_edit_form").click( function(){
		$(".bookmark_big_edit_form").hide();
		$(".category_big_edit_form").hide();
	});

	$(".dropdown_color").click( function(){
		var color = $(this).text();
		$("input[name=color]").val(color);
	});

	$(".dropdown_glyphicon").click( function(){
		var glyphicon = $(this).text();
		$("input[name=glyphicon]").val(glyphicon);
	});

	$(".dropdown_category").click( function(){
		var category = $(this).text();
		$("input[name=category]").val(category);
	});

	$(".cat_edit").click( function(e){
		e.stopPropagation();
		
		$(".bookmark_big_edit_form").hide();
		var current = $(this);
		var name = current.attr("category-name");
		var column_number = parseInt(current.attr("category-column-number"), 10);
		var row_number = parseInt(current.attr("category-row-number"), 10);
		var color = current.attr("category-color");
		var id = current.attr("id");

		var edit_form = $(".category_big_edit_form");
		edit_form.find("input[name=category_name]").val(name);
		edit_form.find("input[name=column_number]").val(column_number+1);
		edit_form.find("input[name=row_number]").val(row_number+1);
		edit_form.find("input[name=color]").val(color);
		edit_form.find("input[name=ID]").val(id);

		edit_form.show();
	});

	$(".bm_edit").click( function(){
		$(".category_big_edit_form").hide();
		var current = $(this);
		var name = current.attr("bookmark-name");
		var glyphicon = current.attr("bookmark-glyphicon");
		var row_number = parseInt(current.attr("bookmark-row-number"), 10);
		var link = current.attr("bookmark-link");
		var category = current.attr("bookmark-category");
		var id = current.attr("id");

		var edit_form = $(".bookmark_big_edit_form");
		edit_form.find("input[name=bookmark_name]").val(name);
		edit_form.find("input[name=glyphicon]").val(glyphicon);
		edit_form.find("input[name=row_number]").val(row_number+1);
		edit_form.find("input[name=link]").val(link);
		edit_form.find("input[name=category]").val(category);
		edit_form.find("input[name=ID]").val(id);

		edit_form.show();
	});

	</script>
</html>
