<div class="container category_big_edit_form login" style="border: 1px solid grey;">
	<div style="text-align: right;">
		<span class="glyphicon glyphicon-remove bm_style_glyphicon hide_big_edit_form"></span>
	</div>
	<form class="form-horizontal" action="/b/edit_category/" method="post">
	{% csrf_token %}
		<div class="form-group hidden_field">
			<label class="control-label col-sm-2">ID:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="ID"/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Category Name:</label>
		 	<div class="col-sm-3">
				<input type="text" class="form-control" name="category_name" placeholder="Category Name">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Color:</label>
			<div class="col-sm-3"> 
				<input type="text" class="form-control" name="color" placeholder="Enter color">
			</div>
			<div class="input-append btn-group">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" style="max-height: 150px; overflow: hidden; overflow-y: auto;">
					{% for color in colors %}
						<li class="dropdown_color"><a>{{ color }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Row Number:</label>
				<div class="col-sm-3">
 				<input type="number" class="form-control" name="row_number">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Column Number:</label>
				<div class="col-sm-3"> 
 				<input type="number" class="form-control" name="column_number">
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-3">
  				<button type="submit" class="btn">Done</button>
			</div>
			</div>
	</form>
</div>