<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			Bookmarks | Edit
		</title>
	</head>
	<style>

		{% include "style.html" %}

	</style>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Bookmarks</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home: {{ user }}</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/b/add_ten_random_bookmarks/">Add ten bookmarks</a></li>
						<li><a href="/b/add_five_random_categories/">Add five categories</a></li>
						<li><a href="/b/edit">Edit</a></li>
						<li><a href="/b/trash">Trash</a></li>
						<li><a href="/b/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		</br>
		</br>

		<div class="container-fluid">
			<div class="row">
				{% for col in columns %}
					<div class="col-sm-2">
						{% for item in col %}
							</br>
							<div class="category-container">
								<div class="progress">
								    <div class="progress-bar progress-bar-striped active progress_style_edit" style="background-color: {{ item.0.progress_bar_color }};">
										<a href="/b/category_up/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-up"></span> </a>
										<a href="/b/category_down/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-down"></span> </a>
										<a href="/b/category_left/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-left"></span> </a>
										<a href="/b/category_right/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-right"></span> </a>
										<a href="/b/random_color/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-random"></span> </a>
										<span id="{{ item.0.id }}" class="cat_del cat_glyph_style glyphicon glyphicon-trash"></span>
										<span style="color:#ffffff">{{ item.0.name }}</span>
									</div>
								</div>

								{% for bookmark in item.1 %}
									<span id="{{ bookmark.id }}" class="bm_up bm_style glyphicon glyphicon-arrow-up"></span>
									<span id="{{ bookmark.id }}" class="bm_down bm_style glyphicon glyphicon-arrow-down"></span>
									<span id="{{ bookmark.id }}" class="bm_random bm_style glyphicon glyphicon-random"></span>
									<span id="{{ bookmark.id }}" class="bm_del bm_style glyphicon glyphicon-trash"></span>
									<a href="{{ bookmark.link }}">
										{% if bookmark.glyphicon  %}
											<span class="glyphicon glyphicon-{{ bookmark.glyphicon }}"></span>
										{% endif %}
										{{ bookmark.name }}
									</a>
									</br>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<!-- </br></br> END COLUMN </br></br> -->
				{% endfor %}
			</div>
		</div>
	</body>
	<script>
		$(document).ready( function(){
			$('.glyphicon').hover( function(){
				$(this).css('cursor', 'pointer');
			});

			$('.bm_del').dblclick( function(){
				window.location.href='/b/trash_bookmark/' + this.id;
			});

			$('.bm_up').click( function(){
				window.location.href='/b/bookmark_up/' + this.id;
			});

			$('.bm_down').click( function(){
				window.location.href='/b/bookmark_down/' + this.id;
			});

			$('.bm_random').click( function(){
				window.location.href='/b/random_glyphicon/' + this.id;
			});

			$('.cat_del').dblclick( function(){
				window.location.href='/b/delete_category/' + this.id;
			});
		});
	</script>
</html>

