<div class="container-fluid">
	<div class="row">
		{% for col in columns %}
			<div class="col-sm-2">
				{% for item in col %}
					</br>
					<div class="category-container">
						<div class="progress">
							<div class="progress-bar progress_style_edit"  num="{{ item.0.id }}" style="background-color: {{ item.0.progress_bar_color }};">

								<a href="/b/category_up/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-up"></span> </a>
								<a href="/b/category_down/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-down"></span> </a>
								<a href="/b/category_left/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-left"></span> </a>
								<a href="/b/category_right/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-arrow-right"></span> </a>
								<a href="/b/random_color/{{ item.0.id }}" class="cat_glyph_style"> <span class="glyphicon glyphicon-random"></span> </a>
								<span id="{{ item.0.id }}" class="cat_del cat_glyph_style glyphicon glyphicon-trash"></span>

								<span id="{{ item.0.id }}" class="cat_edit cat_glyph_style glyphicon glyphicon-pencil" category-color="{{ item.0.progress_bar_color }}" category-row-number="{{ item.0.row_number }}" category-column-number="{{ item.0.column_number }}" category-name="{{ item.0.name }}"></span>

								<span style="color:#ffffff">{{ item.0.name|truncatechars:8 }}</span>
							</div>
						</div>

						<div class="category-sub-container" id="cat_num_{{ item.0.id }}">
							{% for bookmark in item.1 %}
							<div class="bm_style">
								<span id="{{ bookmark.id }}" class="bm_up bm_style_glyphicon glyphicon glyphicon-arrow-up"></span>
								<span id="{{ bookmark.id }}" class="bm_down bm_style_glyphicon glyphicon glyphicon-arrow-down"></span>
								<span id="{{ bookmark.id }}" class="bm_random bm_style_glyphicon glyphicon glyphicon-random"></span>
								<span id="{{ bookmark.id }}" class="bm_del bm_style_glyphicon glyphicon glyphicon-trash"></span>
								
								<span id="{{ bookmark.id }}" class="bm_edit bm_style_glyphicon glyphicon glyphicon-pencil" bookmark-name="{{ bookmark.name }}" bookmark-row-number="{{ bookmark.row_number }}" bookmark-glyphicon="{{ bookmark.glyphicon }}" bookmark-link="{{ bookmark.link }}" bookmark-category="{{ bookmark.category }}"></span>

								<a href="{{ bookmark.link }}">
									{% if bookmark.glyphicon  %}
										<span class="glyphicon glyphicon-{{ bookmark.glyphicon }}"></span>
									{% endif %}
									{{ bookmark.name }}
								</a>
							</div>
							{% endfor %}
							<div>
								<div class="show_form_add_bookmark" style="font-size: 1.5em; text-align: center;" num="{{ item.0.id }}">
									<span class="glyphicon glyphicon-plus bm_style_glyphicon"></span>
								</div>
								<div class="form_add_bookmark">
									<form class="form-horizontal" method="post" action="/b/add_bookmark/{{ item.0.id }}">
										{% csrf_token %}
										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" class="form-control add_bm_style" name="name" placeholder="Bookmark name"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-8">
												<input type="text" class="form-control add_bm_style" name="link" placeholder="Link">
											</div>
											<div class="col-sm-4">
							   					<input type="submit" value="Add" class="btn btn_small"/>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>