<!-- Put this stuff into a navbar-inverse. 
Convert the button to a normal link or whatever works, 
just send it to the link "/b/logout/" -->
Hello {{ user }}
<a href="/">Home</a>
<a href="/b/edit">Edit</a>
<a href="/b/logout">Logout</a>

</br>
<!-- container and row -->
{% for col in columns %}
	<!-- Define column here. Just once is enough. -->
	{% for item in col %}
		</br></br>
		<a href="/b/category_up/{{ item.0.id }}"> CatUp </a>
		<a href="/b/category_down/{{ item.0.id }}"> CatDown </a>
		Category Name: {{ item.0.name }}
		{% for bookmark in item.1 %}
			</br><a href="/b/bookmark_up/{{ bookmark.id }}"> BmUp </a>
			<a href="/b/bookmark_down/{{ bookmark.id }}"> BmDown </a>
			<a href="{{ bookmark.link }}">{{ bookmark.name }}</a>
		{% endfor %}
	{% endfor %}
	</br></br> END COLUMN </br></br> 
{% endfor %}

