<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			Bookmarks | Home
		</title>
	</head>
	<style>

	{% include "style.html" %}

	</style>
	<!-- <body style="background-color:rgba(255,255,224, 0.09)"> --> <!-- Pick a BG.. -->
	<body style="background-color:rgba(238,173,14, 0.1)">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
			<div class="container-fluid">
				<div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
					<a class="navbar-brand">Bookmarks</a>
				</div>
				<div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home: {{ user }}</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/b/edit">Edit</a></li>
							<li><a href="/b/trash">Trash</a></li>
							<li><a href="/b/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		</br>
		</br>
		</br>
		<div class="container">
			<ul class="nav nav-pills">
				<li><a href="#" class="bm_collapser"> Collapse All </a></li>
				<li><a href="#" class="bm_expander"> Expand All </a></li>
				<li><a href="#" class="night_mode"> Night Mode </a></li>
				<li><a href="#" class="bright_mode"> Bright Mode </a></li>
			</ul>
		</div>

		<div class="container-fluid">
			<div class="row">
				{% for col in columns %}
					<div class="col-sm-2">
						{% for item in col %}
							</br>
							<div class="category-container">
								<div class="progress">
								    <div class="progress-bar progress-bar-striped active progress_style_home" num="{{ item.0.id }}" style="background-color: {{ item.0.progress_bar_color }};">
										<span style="background:#ffffff; color:#000000">{{ item.0.name }}</span>
									</div>
								</div>

								{% for bookmark in item.1 %}
									<a href="{{ bookmark.link }}">
										<div class="bm_style_home cat_num_{{ item.0.id }}">
										{% if bookmark.glyphicon  %}
											<span class="glyphicon glyphicon-{{ bookmark.glyphicon }}"></span>
										{% endif %}
										{{ bookmark.name }}</div>
									</a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<!-- </br></br> END COLUMN </br></br> -->
				{% endfor %}
			</div>
		</div>
	</body>
	<script>
		$(document).ready( function(){

			$('.bm_collapser').click( function(){
				$('.bm_style_home').hide();
			});

			$('.bm_expander').click( function(){
				$('.bm_style_home').show();
			});

			$('.progress_style_home').click( function(){
				var cat_num = '.cat_num_' + $(this).attr('num');
				$(cat_num).toggle();
			});

			$('.progress_style_home').hover( function(){
				$(this).css('cursor', 'pointer');
			});

			$('.night_mode').click( function(){
				$('body').css('background-color', '#1c1c1c');
				$('.bm_style_home').css('color', '#ffb90f');
			});

			$('.bright_mode').click( function(){
				$('body').css('background-color', 'rgba(238,173,14, 0.1)');
				$('.bm_style_home').css('color', '');
			});

			$('.glyphicon').hover( function(){
				$(this).css('cursor', 'pointer');
			});
		});
	</script>
</html>
