<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bookmarks | Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

    <style>

    {% include "style.html" %}

    </style>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Bookmarks</a>
                </div>
            </div>
        </nav>

        </br></br></br></br></br>

        <div class="container">
            <div class="row">
                <div class="login col-sm-offset-8 col-sm-3">
                    </br>
                    <form class="form-horizontal" method="post" action="/b/verify/">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="username" placeholder="Username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="submit" value="Login" class="btn"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="old_user col-xs-12">
                                <input type="button" value="New User?" class="btn"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="signup col-sm-offset-8 col-sm-3">
                    </br>
                    <form class="form-horizontal" method="post" action="/b/add_user/">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="repassword" placeholder="Re-enter password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" name="email" placeholder="Enter e-mail id">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="submit" value="Sign Up" class="btn"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="new_user col-xs-12">
                                <input type="button" value="Old User?" class="btn"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">

    {% include "jQuery.html" %}
    $('.signup').hide();

    </script>
</html>