<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bookmarks | Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

    <style>
        .box {
            background-color: rgba(211, 211, 211, 0.6);
            border: 1px dotted rgba(211, 211, 211, 0.95);
            border-radius: 2%;
        }
        .box:hover {
            background-color: rgba(211, 211, 211, 0.8);
        }
    </style>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Bookmarks</a>
                </div>
            </div>
        </nav>

        </br></br></br></br></br>

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 box">
                    <h3 class="text-center">Login</h3>
                    <form class="form-horizontal" method="post" action="/b/verify/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Username </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" placeholder="Username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>
<!--                         <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                           	    <input type="submit" value="Login"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-2 col-md-2">
                <!-- Just to leave some space between Login and Sign Up -->
                </div>

                <div class="col-lg-5 col-md-5 box">
                    <h3 class="text-center">Sign up</h3>
                    <form class="form-horizontal" method="post" action="/b/add_user/">
                  	    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="text">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Re-enter Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="repassword" placeholder="Password">
                            </div>
                        </div>

<!--                         <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Sign Up"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>