        .navbar {
            background-color: #008b8b;
            border: 1px solid #008b8b;
        }

        .navbar .nav > li > a {
            color:  #eead0e;
            font-weight: bold;
        }

        .navbar-header > a.navbar-brand {
            color: #eead0e;
            font-weight: bold;
        }

        .navbar .nav > li > a:hover {
            color:  #ffffff;
            background-color: #eead0e;
        }

        .navbar-header > a.navbar-brand:hover {
            color: #eead0e;
        }

        .nav .active a{
            background-color: #eead0e!important;
        }
        
        .btn{
            background: transparent;
            color: #F2F2F2;
            font-size: 1.2em;
            color: #000;
            border: 1px solid black;
            width: 100%;
        }

        .btn:hover{
            background: #eead0e;
            color: #000000;
        }

        .login{
            background-color: #008b8b;
        }

        .signup{
            background-color:#008b8b;
        }
        
        a:hover {
            text-decoration: none;
        }

        body {
            background-color: rgba(238,173,14, 0.1);
        }

        .progress {
            border-radius: 0%;
        }

        .progress_style_home {
            width: 100%;
            font-size: 1em;
        }

        .bm_style {
            text-align: center;
        }

        .bm_style:hover {
            background-color: #8b8386;
            color: #ffffff;
        }

        .category-container:hover{
            background-color: rgba(139,131,134, 0.15);
        }

        .input-append .btn.dropdown-toggle {
            float: none;
        }
        
        .box {
            border: 1px solid black;
        }
        
        .progress_style_edit{
             width: 100%;
             font-size: 1em;
             text-align: left;
        }

        .bm_style_glyphicon {
            text-align: center;
            color: #ccc;
            font-size: 0.9em;
        }

        .bm_style_glyphicon:hover {
            color: #000000;
        }

        .cat_glyph_style {
            color: #ffffff;
            font-size: 0.9em;
        }

        .cat_glyph_style:hover {
            color: #000000;
        }