<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!----><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			Bookmarks | Trash
		</title>
	</head>
	<style>
		
		{% include "style.html" %}

	</style>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Bookmarks</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home: {{ user }}</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/b/clear_trash"> Clear Trash </a></li>
						<li><a href="/b/edit">Edit</a></li>
						<li class="active"><a href="/b/trash">Trash</a></li>
						<li><a href="/b/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>

		{% include "pills.html" %}

		<div class="container-fluid">
			<div class="row">
				{% for col in columns %}
					<div class="col-sm-2">
						{% for trash in col %}
							</br>
							<span id="{{ trash.id }}" class="trash_del bm_style glyphicon glyphicon-trash"></span>
							<span id="{{ trash.id }}" class="trash_restore bm_style glyphicon glyphicon-retweet"></span>
							{{ trash.name }}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
	<script>

		function restore_bookmark() {
			window.location.href='/b/restore_bookmark/' + this.id;
		}

		$(document).ready( function(){
			$('.trash_del').dblclick( function(){
				window.location.href='/b/delete_bookmark/' + this.id;
			});

			$('.trash_restore').one("click", function() {
				// Prevents trying to restore the same bookmark more than once.
				window.location.href='/b/restore_bookmark/' + this.id;
			});
		});
	</script>
</html>