$default-font-size: 1.6rem;

$font-family-primary: Avenir, Helvetica, Arial, sans-serif;

$color-primary: hsl(42.6, 88.9%, 50%);
$color-primary-highlight: hsl(42.6, 88.9%, 70%);
$color-primary-light: hsl(42.6, 88.9%, 80%);
$color-primary-extra-light: hsl(42.6, 88.9%, 93%);

$color-secondary: hsl(180, 100%, 27.3%);
